$yellow-light: #F8FCDA;
$grey: #E6E6E6;
$grey-dark: #868686;
$black: #39393A;
$coral: #FF8552;
$green: #297373;
$pink: #BAA5FF;
$pink-transparent: rgba(186, 165, 255, 0.45);
$pink-dark: rgb(118, 106, 168);